@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: orange;
}

nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 200px;
    width: 200px;
}

nav {
    background-color: darkblue;
}

.about {
    margin-top: auto;
    margin-bottom: auto;
}

.about ul{
    font-size: 40px;
    font-family: 'Oswald';
    color: darkorange;
}

.about a {
    text-decoration: none;
}

main {
    display: block;
    background-color: orange;
}

main h1 {
    display: flex;
    font-family: 'Oswald';
    color: darkblue;
    margin-left: auto;
    margin-right: auto;
}

.main-h1{
    display: flex;
}

.main-board {
    display: grid;
    justify-content: space-around;
    margin: 30px 15px;
    background-color: darkblue;
    padding-bottom: 20px;
}

.main-board label{
    font-size: 30px;
    justify-content: space-between;
    font-family: 'Oswald';
    color: darkorange;
    padding-bottom: 5px;
}


.main-board input {
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
}

.left-board {
    display: grid;
    text-align: center;
}

.secmain-board {
    display: grid;
}



.section {
grid-template-columns: 1fr 1fr 1fr;
}


.select-region {
display: flex;
flex-direction: column;
gap: 5px;
}

.select-region select {
padding: 12px;
border-radius: 15px;
border: 1px solid #ccc;
font-size: 16px;
cursor: pointer;
}

.region-grid {
width: 80%;       
margin: 0 auto;    
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: orange;
    border-radius: 10px;
    margin-bottom: 20px;
}

.filters .search-field input {
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid white;
}

.filters .sort-field select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid white;
}

.countries-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.country-card {
    width: 100%;
    height: 130px;
    object-fit: cover;   /* ou 'contain' se preferir */
    border-radius: 10px;
    display: block;
}


footer {
    display: flex;
    padding: 30px;
    background-color: darkblue;
}

footer h2 {
    margin: auto;
    color: darkorange;
    font-family: 'Oswald';
}