@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}



nav {
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 200px;
    width: 200px;
}

nav {
    background-color: darkblue;
}

.about {
    margin-top: auto;
    margin-bottom: auto;
}

.about ul{
    font-size: 40px;
    font-family: 'Oswald';
    color: darkorange;
}

.about a {
    text-decoration: none;
}

main {
    display: block;
    background-color: orange;
}

main h1 {
    display: flex;
    font-family: 'Oswald';
    color: darkblue;
    margin-left: auto;
    margin-right: auto;
}

.main-h1{
    display: flex;
}

.main-board {
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: darkblue;
}

.main-board h2{
    margin: auto;
    font-family: 'Oswald';
    color: darkorange;
}

footer {
    display: flex;
    padding: 30px;
    background-color: darkblue;
}

footer h2 {
    margin: auto;
    color: darkorange;
    font-family: 'Oswald';
}